@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: monospace;
  @apply transition-colors duration-200
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  --base-color: #2e3046;
  --base-color-bg: oklch(from var(--base-color) calc(l * 0.4) c h);;
  --base-dark: oklch(from var(--base-color) calc(l * 0.4) c h);

  --surface-color: oklch(from var(--base-color) calc(l * 1.2) c h);

  --text-color: oklch(from var(--base-color) calc(l * 3) c h);
  --secondary-text-color: oklch(from var(--base-color) calc(l * 2.5) c h);
  --brand-color: oklch(from var(--base-color) calc(l * 4) calc(c * 4) calc(h * 12));

  --wave-one:rgb(108, 115, 161);
  --wave-two: rgb(48, 48, 73);
  --wave-grad: rgb(27, 25, 50);

  background: var(--base-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  content: '';
  position: absolute;
  background-image: conic-gradient(
    oklch(from var(--base-color) calc(l * 2) c calc(h*2.4) ) );
  height: calc(100% + 6px); 
  width: calc(100% + 6px); 
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px; 
}

.card::before{
  filter: blur(.5rem);
  opacity: 0.5;
  margin: 3px;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
  
}